<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DateOneEntities" connectionString="metadata=res://*/AppDataFile.Model1.csdl|res://*/AppDataFile.Model1.ssdl|res://*/AppDataFile.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-23BOOF7;initial catalog=DateOne;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>